<head>
    <%= stylesheet_link_tag :create_account, "data-turbo-track": "reload" %>
</head>

<div class="account-setup-container">
  <h1 class="account-setup-title">Create an Account</h1>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
      <% flash.discard(:notice) %> 
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
      <% flash.discard(:alert) %> 
    </div>
  <% end %>
    <div class="account-setup-form">

    <%= form_with model: User.new, url: '/api/v1/users', method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, placeholder: 'Enter your name', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, placeholder: 'Enter your email', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, placeholder: 'Enter your password', required: true %>
      </div>
      <%= f.hidden_field :role, value: 'student' %>
      <%= f.submit 'Create Account', class: 'account-setup-button' %>
    <% end %>
  </div>
</div>
