<head>
    <%= stylesheet_link_tag :new_presentation, "data-turbo-track": "reload" %>
</head>

 
<div class="presentations-container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
      <% flash.discard(:notice) %> 
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
      <% flash.discard(:alert) %> 
    </div>
  <% end %>
  <h1>Presentations</h1>
    <div class="presentation-cards">
      <% @presentations.each do |presentation| %>
        <div class="card">
          <img src="<%= presentation.image || 'https://placehold.co/400x300' %>" alt="Presentation Image">
          <p class="card-title">
            <%= link_to presentation.name, presentation_path(presentation), class: 'card-title' %>
          </p>
          <p class="card-score">Score: <strong><%= presentation.score || 'N/A' %></strong></p>
          <p class="card-presenters">By: <%= presentation.users.map(&:name).join(', ') %></p>
        </div>
      <% end %>
    </div>
</div>
