<head>
    <%= stylesheet_link_tag :presentations, "data-turbo-track": "reload" %>
</head>


<div class="presentations-container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
      <% flash.discard(:notice) %> 
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
      <% flash.discard(:alert) %>
    </div>
  <% end %>
  <div class="new-presentation">
    <h1>Create a New Presentation</h1>
    <div class="presentation-options">
      <div class="option blank-presentation">
        <%= link_to '+', new_presentation_path, class: 'add-icon' %>
        <%= link_to 'New Presentation', new_presentation_path, class: 'new-text'%>
      </div>
    </div>
  </div>

  <div class="recent-presentations">
    <h1>Presentations</h1>
    <div class="presentation-cards">
      <% @presentations.each do |presentation| %>
        <div class="card">
          <img src="<%= presentation.image || 'https://placehold.co/400x300' %>" alt="Presentation Image">
          <p class="card-title"><%= presentation.name || 'N/A' %></p>
          <p class="card-score">Score: <strong><%= presentation.score || 'N/A' %></strong></p>
          <p class="card-presenters">By: <%= presentation.users.map(&:name).join(', ') %></p>
          <%= link_to 'Delete', presentation_path(presentation), method: :delete, data: { confirm: 'Are you sure you want to delete this presentation?' }, class: 'delete-button' %>
        </div>
      <% end %>
    </div>
</div>
