<head>
    <%= stylesheet_link_tag :presentations, "data-turbo-track": "reload" %>
</head>

<div class="presentations-container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
      <% flash.discard(:notice) %> 
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
      <% flash.discard(:alert) %>
    </div>
  <% end %>
  <% if current_user.role == 'ta' %> <!-- Check if the user is a TA -->
  <div class="new-presentation">
    <h1>Create a New Presentation</h1>
    <div class="presentation-options">
      <div class="option blank-presentation">
        <%= link_to '+', new_presentation_path, class: 'add-icon' %>
        <%= link_to 'New Presentation', new_presentation_path, class: 'new-text'%>
      </div>
    </div>
  </div>
  <% end %>

  <div class="recent-presentations">
    <h1>Presentations</h1>
    <div class="presentation-cards">
      <% @presentations_with_scores.each do |presentation_with_score| %>
      <% presentation = presentation_with_score[:presentation] %>
      <% total_average_score = presentation_with_score[:total_average_score] %>
        <div class="card">
          <img src="<%= presentation.image || 'https://placehold.co/400x300' %>" alt="Presentation Image">
          <p class="card-title">
            <%= link_to presentation.name, presentation_path(presentation), class: 'card-title' %>
          </p>   
          <p class="card-score">
            Score:
            <strong><%= total_average_score ? "#{total_average_score.round(2)}/10" : 'N/A' %></strong>
          </p>
          <p class="card-presenters">By: <%= presentation.users.map(&:name).join(', ') %></p>
          <% if current_user.role == 'ta' %>
          <%= link_to 'Delete', presentation_path(presentation), method: :delete, data: { confirm: 'Are you sure you want to delete this presentation?' }, class: 'delete-button' %>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
