<head>
    <%= stylesheet_link_tag :presentations, "data-turbo-track": "reload" %>
</head>
<div class="presentations-container">
  <div class="new-presentation">
    <h1>Create a New Presentation</h1>
    <div class="presentation-options">
      <div class="option blank-presentation">
        <div class="add-icon">+</div>
        <p>Blank Presentation</p>
      </div>
    </div>
  </div>

  <div class="recent-presentations">
    <h1>Presentations</h1>
    <div class="presentation-cards">
      <% @presentations.each do |presentation| %>
        <div class="card">
          <img src="<%= presentation.image || 'https://placehold.co/400x300' %>" alt="Presentation Image">
          <p class="card-title"><%= presentation.name %></p>
          <p class="card-score">Score: <strong><%= presentation.score || 'N/A' %></strong></p>
          <p class="card-presenters">By: <%= presentation.users.map(&:name).join(', ') %></p>
        </div>
      <% end %>
    </div>
</div>
