<header>
<ul class="inline-list">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><% link_to "Help", help_path %></li>
    <li><%= link_to "Log in", '#' %></li>
    <li><%= link_to "Sign up", new_user_path %></li>
    <li><%= link_to "Show ass users", users_path%></li>
</ul>

</header>
